{% extends 'teams/base.html' %}

{% block tittle_block %} Compose exercise {% endblock %}


{% block body_block %}


<div class="container">
     <h1>Assing exercise to your clients</h1>



    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="POST">
        
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Send">
    </form>


</div>



{% endblock %}

