{% extends 'teams/base.html' %}

{% block tittle_block %} Exercises {% endblock %}
{% block body_block %}
<div class="container">
   
     {% regroup ascription_list by user as users_ascriptions %}

{% for ascription in users_ascriptions %}
    <h3>{{ ascription.grouper }}</h3>
   
    <table class="table">
        <thead>
            <tr>
                <th> Name </th>
                <th> Instruction </th>
                <th> Information to save</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ascription.list %}
            <tr>
                <td>{{ item.composition.name }}</td>
                <td>{{ item.composition.instruction }}</td>
                <td>{{ item.composition.extra_fields }}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    
{% endfor %}

</div>

{% endblock %}

