{% extends 'teams/base.html' %}

{% block tittle_block %} Client {% endblock %}
{% block body_block %}
<div class="container">
  

{% include 'teams/team_detail_content.html' %}



<h3>Exercises: </h3>
   
    <table class="table">
        <thead>
            <tr>
                <th> Name </th>
                <th> Instruction </th>
                <th> Information to save</th>
                <th> Ascriptions</th>
            </tr>
        </thead>
        <tbody>
            {% for composition in compositions %}
            <tr>
                <td>{{ composition.name }}</td>
                <td>{{ composition.instruction }}</td>
                <td>{{ composition.field_set }}</td>
                <td> <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="composition" value="{{ composition.pk }}">
                    <button type="submit" class="btn btn-dark">
                    {% if composition.pk in ascr %}Strip{% else %}Add{% endif %}
                    </button>
                </form> </td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

