{% extends 'teams/base.html' %}

{% block tittle_block %} Clients {% endblock %}


{% block body_block %}


<div class="container">
    <br></br>
    <h5>Clients who has completed their profiles but still don't have any
        exercises ascribed:</h5> 
    <br></br>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Dogs name</th>
            <th>Dogs age</th>
            <th>Dogs bread</th>
            <th>Last login</th>
            <th>Manage ascriptions</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
            <tr>
            <td><a href="{% url 'staff_only:client_detail' user.pk %}">{{ user.first_name }} {{ user.last_name }}</a></td>
            <td>{{ user.dog.dogs_name }}</td>
            <td>{{ user.dog.age.years }} years {% if user.dog.age.months %}
                and {{ user.dog.age.months }} months
            {% endif %}</td>
            <td>{{ user.dog.dogs_bread }}</td>
            <td>{{ user.last_login.date }}</td>
            <td><button type="button" class="btn btn-secondary"><a style="color:white" href="{% url 'staff_only:client_ascriptions' user.pk %}">x</a></button></td>
            <td><button type="button" class="btn btn-danger"><a style="color:white" href="{% url 'teams:delete_user' user.pk %}?next={{ request.path }}">x</a></button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    



{% endblock %}

