{% extends 'teams/base.html' %}

{% block tittle_block %} Clients {% endblock %}


{% block body_block %}


<div class="container">
     
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Set active</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
            <tr>
            <td><a href="">{{ user.username }}</a></td>
            
            <td><button type="button" class="btn btn-secondary"><a style="color:white" href="">x</a></button></td>
            <td><button type="button" class="btn btn-danger"><a style="color:white" href="">x</a></button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

