{% extends 'teams/base.html' %}

{% block tittle_block %} Registered Persons {% endblock %}


{% block body_block %}


<div class="container">
   <h3>Registered persons who didn't fill their profiles:</h3> 

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
            <tr>
            <td><a href="">{{ user.username }}</a></td>
            
            <td><button type="button" class="btn btn-danger"><a style="color:white" href="{% url 'teams:delete_user' user.pk %}?next={{ request.path }}">x</a></button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

