{% extends 'teams/base.html' %}

{% block tittle_block %} Update Staff member{% endblock %}

{% block body_block %}
<div class="container">
    <h1>Update {{ user.first_name }}'s staff privileges</h1>

     <p>Every staff member can view all pages, so they can:</p>
<ul>
    <li>View all clients lists</li>
    <li>View detail pages of each clients and their exercises</li>
    <li>View list of invited person</li>
    <li>View list of staff members</li>
    <li>View list of existing exercises</li>
    <li>View list of exercie's ascriptions</li>
</ul>

<p>If you want you may accord to a new staff member extra privileges. Choose a user and check the appropriate box below:</p>

<h2>Beware!!!!</h2>
<p>Some functionalities are more vulnerables than other. For instance, strip an ascription does not have grave consequences. You can reactivate ascription for the same user, the accomplished exercises are still saved in database. 

But deleting a composition means deleting (not deactivating) ALL exercises connected with this composition and all records of accomplished exercises as well.

Be cautious while granting permissions.</p>
<h3>{{ user.first_name }} {{ user.last_name }} ({{ user.username}})</h3>
{% if user.user_permissions.all %}
<h3>has already following permissions:</h3>
<ul>
{% for perm in user.user_permissions.all %}
<li>{{ perm.name }}</li>
{% endfor %}

</ul>
<h3>Check the permissions you want {{user.first_name}} to have:</h3>
{% endif %}    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="POST">
        
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Send">
    </form>
</div>

{% endblock %}

