<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <title>{% block tittle_block %}  {% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Watch Dog</span>
</nav>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_staff %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Clients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'staff_only:clients' %}">Clients List</a>
          <a class="dropdown-item" href="#">Registated users</a>
        </div>
      </li>
      {% endif%}
      {% if request.user.is_staff %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Exercises
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'staff_only:compositions' %}">See your exerecises</a>
          <a class="dropdown-item" href="{% url 'staff_only:composition_add' %}">New exerecise</a>
          <a class="dropdown-item" href="{% url 'staff_only:ascription_add' %}">Ascribe to clients</a>
        </div>
      </li>
      {% endif %}
  
      {% if not  request.user.is_staff and request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'training:exercises' pk=request.user.pk %}">Your Exercises</a> 
      </li> 
      {% endif %}
    </ul>

     <ul class="nav navbar-nav ml-auto">
      {% if request.user.is_authenticated %}

        <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:team_detail' pk=request.user.pk %}"> Welcome {{ request.user }}</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:logout' %}"> Logout </a> 
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:login' %}"> Login </a>  
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'teams:sign_in' %}"> Sign in </a>
      </li>
      {% endif %}
      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}"> Admin </a>  
      </li>
      {% endif %}
    </ul>

    
  
</nav>



        {% block body_block %}
        {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
