<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <title>{% block tittle_block %}  {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Watch Dog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
{% if request.user.is_authenticated %}
  {% if request.user.is_staff %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'staff_only:clients' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Clients</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'staff_only:clients' %}">Clients List</a>
          <a class="dropdown-item" href="#">Registated users</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Exercises</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'staff_only:compositions' %}">See all exerecises</a>
          <a class="dropdown-item" href="{% url 'staff_only:composition_add' %}">New exerecise</a>
          <a class="dropdown-item" href="{% url 'staff_only:ascription_add' %}">Ascribe to clients</a>
        </div>
      </li>
    </ul>

  {% else %}
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'training:profile' pk=request.user.pk %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Exercises</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for ascr in request.user.ascription_set.all %}
          <a class="dropdown-item" href="{% url 'training:exercise_detail' ascr.pk %}">{{ ascr.composition.name|title }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>

{% endif %}
{% endif %}

  {% if request.user.is_staff %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:logout' %}"> Logout </a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}"> Admin </a>  
      </li>
    </ul>
   {% elif request.user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">        
          <a class="nav-link" href="">Welcome, {{ request.user.first_name }} {{ request.user.last_name}}</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:team_edit' pk=request.user.pk %}">Edit profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:logout' %}"> Logout </a> 
      </li>
    </ul>
    {% else %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:sign_in' %}"> Sign in </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:login' %}"> Login </a>  
      </li>
    </ul>
{% endif %}
  </div>
</nav>


        {% block body_block %}
        {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
