{% extends 'teams/base.html' %}

{% block tittle_block %} Edit your profile {% endblock %}


{% block body_block %}


<div class="container">
         <h1>Please update information about you and your dog:</h1>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="POST">
        {{ form.as_p }}
        {{ dog_form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Confirm">
        <button type="button" class="btn btn-secondary"><a style="color:white" href="{% url 'teams:password_change' %}">Change your password</a></button>
        <button type="button" class="btn btn-danger"><a style="color:white" href="{% url 'teams:delete_user' user.pk %}?next={{ request.path }}">Delete account</a></button>
    </form>
</div>


{% endblock %}




